<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Change participant info</title>
</head>
<body>
	<h1>
		Cambiar la contraseña del usuario <span
			th:text="${session.loader.nombre}" />
	</h1>
	<form method="POST" action="changeInfo">
		<table>
			<tr>
				<td>Contraseña:</td>
				<td><input type="password" name="password" required="required"
					placeholder="Contrasena" /></td>
			</tr>
			<tr>
				<td>Nueva contraseña:</td>
				<td><input type="password" name="newPassword"
					required="required" placeholder="Nueva contrasena" /></td>
			</tr>
			<tr>
				<td><input type="submit" name="updateInfo"
					value="Actualizar contraseña" /></td>
				<td><input id="btnReset" type="reset" value="Reset" /></td>
			</tr>
			<tr>
				<td><a href="/">Volver a inicio</a></td>

			</tr>
		</table>
	</form>
</body>
</html>